@page "/"

<div class="row">
    <div class="col text-center">
        <h1>Welcome!</h1>
    </div>
</div>

<div class="row">
    <div class="col text-center">
        <h2>show all games</h2>
    </div>
</div>

<GameListTable Games="games" />
@*<SingleGame Game="games[0]" />*@

@code{
    List<Game> games { get; set; }
    protected override void OnInitialized()
    {
        games = Game.SimpleList();
    }
}